<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

    <xacro:arg name="left_initial_positions_file"
            default="$(find dual_arm_panda_isaac_moveit_config)/config/left_initial_positions_servo.yaml"/>
    <xacro:arg name="right_initial_positions_file"
            default="$(find dual_arm_panda_isaac_moveit_config)/config/right_initial_positions_servo.yaml"/>
    <xacro:arg name="ros2_control_hardware_type" default="mock_components" />

    <!-- Root link -->
    <link name="world"/>

    <!-- Xacro imports -->
    <xacro:include filename="panda_arm_macro.xacro" />
    
    <!-- Left arm -->
    <xacro:panda_arm
        name="left_panda"
        prefix="left_"
        parent="world"
        initial_positions_file="$(arg left_initial_positions_file)"
        ros2_control_hardware_type="$(arg ros2_control_hardware_type)">
        <origin xyz="0.2 0 1" rpy="1.5708 0.785 1.5708" />
    </xacro:panda_arm>

    <!-- Right arm -->
    <xacro:panda_arm
        name="right_panda"
        prefix="right_"
        parent="world"
        initial_positions_file="$(arg right_initial_positions_file)"
        ros2_control_hardware_type="$(arg ros2_control_hardware_type)">
        <origin xyz="-0.2 0 1" rpy="-1.5708 0.785 1.5708" />
    </xacro:panda_arm>

    <!-- Import panda ros2_control description -->
    <!-- <xacro:include filename="panda.ros2_control.xacro" />
    <xacro:include filename="panda_hand.ros2_control.xacro" />

    <xacro:panda_arm_ros2_control name="PandaFakeSystem" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/>
    <xacro:panda_hand_ros2_control name="PandaHandFakeSystem" ros2_control_hardware_type="$(arg ros2_control_hardware_type)"/> -->

</robot>
