<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="pr2_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="r_shoulder_pan_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_shoulder_pan_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_shoulder_lift_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_shoulder_lift_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_upper_arm_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_upper_arm_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_elbow_flex_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_elbow_flex_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_forearm_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_forearm_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_wrist_flex_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_wrist_flex_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_wrist_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_wrist_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_shoulder_pan_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_pan_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_shoulder_lift_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_shoulder_lift_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_upper_arm_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_upper_arm_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_elbow_flex_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_elbow_flex_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_forearm_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_forearm_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_wrist_flex_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_wrist_flex_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_wrist_roll_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_wrist_roll_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_gripper_l_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_gripper_l_finger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_gripper_motor_slider_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_gripper_motor_slider_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_gripper_motor_screw_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_gripper_motor_screw_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r_gripper_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r_gripper_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_gripper_l_finger_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_gripper_l_finger_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_gripper_motor_slider_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_gripper_motor_slider_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_gripper_motor_screw_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_gripper_motor_screw_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l_gripper_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l_gripper_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
